

/*cat*/
.back-img{
    background-image: url(../Images/img.\ 4.png);
    background-repeat: no-repeat;

}
/*smallpets*/
.back-img2{
        background-image: url(../Images/img.\ 14.png);
    background-repeat: no-repeat;
}

.back-img3{
      background-image: url(../Images/img.\ 64.png);
    background-repeat: no-repeat;
}